$base-font-size: 16px;
$base-line-height: 24px;

$heading-size-1: 36px;
$heading-size-2: 30px;
$heading-size-3: 24px;
$heading-size-4: 20px;
$heading-size-5: 16px;
$heading-size-6: 14px;

$logo-height: 64px;
$dominant-color: #F44336;
