.Container {
  max-width: 1100px;
  margin: 0 auto;
  padding-right: 12px;
  padding-left: 12px;

  @media screen and (min-width: 720px) {
    padding-right: 24px;
    padding-left: 24px;
  }

}



.Container--wide {
  max-width: 1276px;
}
